<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="forgot-password-page">
  <form method="POST">
    <label>Nhập username:</label>
    <input name="username" required>
    <button type="submit">Gửi OTP</button>
  </form>
  <p><a href="{{ url_for('auth.login') }}">Quay lại</a></p>
</div>
</body>
</html>

  

