{% extends "base.html" %}
{% block title %}Danh sách trò chơi{% endblock %}

{% block content %}
<h2 class="text-center pt-5" >🎮 Chọn một trò chơi</h2>

<div class="d-flex justify-content-center flex-wrap gap-4 mt-4">
  <a href="{{ url_for('games.game1') }}" class="text-center text-decoration-none text-dark">
    <img src="{{ url_for('static', filename='logo/videogames.png') }}" width="100" alt="Game 1" class="mb-2">
    <div>Bắt bóng</div>
  </a>
  <a href="{{ url_for('games.game2') }}" class="text-center text-decoration-none text-dark">
    <img src="{{ url_for('static', filename='logo/videogames.png') }}" width="100" alt="Game 2" class="mb-2">
    <div>Hứng Trứng Gà</div>
  </a>
</div>
{% endblock %}
